body {
    background-color: wheat;
}

.my {
    text-align: center;
    font-weight: bold;
    font-size: 30px;


}

.home {
    position: relative;
    bottom: 43px;
    left: 1188px;

}

.home li{
    list-style: none;
}

.home li a{
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 21px;
}

.home li a:hover{
    color: black;
}

.project {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.task {
    font-weight: bold;
    font-size: 19px;
}

.key {
    font-weight: bold;
    font-style: italic;
}